@font-face {
    font-family: "Cooper Hewitt Book";
    src: url("../CooperHewitt-Book.otf");
}

html, body {
    height: 100%;
}
body {
    cursor: default;
    display: table;
    font: 1.125em "Calibri", sans-serif;
    margin: 0;
    margin: auto;
    max-width: 1024px;
    transition: background 10s;
}

h2, .retour {
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 0 transparent;
}

ul {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0;
}

li {
    display: table-cell;
    width: 10%;
}

textarea {
    height: 1.25em;
}

.logo {
    display: block;
    margin: auto;
    width: 220px;
}

.logo:hover, .icone-contact:hover {
    fill: #009f0d;
}

.logo-container:hover .signe {
  /* left: 200px; */
  /* transform: rotate(180deg); */
  animation: logoanim 2s 1;
}

.logo-container:hover span {
  opacity: 1;
}

.logo-v-1 {
  opacity: 0;
  transform-origin: 10px 11px;
}


.logo1 {
  width: 220px;
  display: block;
  margin: auto;
}

@keyframes logoanim2 {
  0% {
    opacity: 1;
    transform: none;
  }
  20% {
    transform: translate(21px) rotate(180deg);
  }
  40% {
    transform: translate(42px,4px) rotate(58deg);
  }
  60% {
    transform: translate(62px,-1px) rotate(94deg);
  }
  100% {
    transform: translate(85px,-1px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes logoopaca {
  0% {
    opacity: 0
  }
  20% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@keyframes logoopacl {
  0% {
    opacity: 0
  }
  40% {
    opacity: 0
  }
  45% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@keyframes logoopace {
  0% {
    opacity: 0
  }
  60% {
    opacity: 0
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

@keyframes logoopacv {
  0% {
    opacity: 0
  }
  95% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.logo1:hover .logo-a {
  opacity: 0;
  animation: 1.5s logoopaca normal infinite;
}

.logo1:hover .logo-l {
  opacity: 0;
  animation: 1.5s logoopacl normal infinite;
}

.logo1:hover .logo-e {
  opacity: 0;
  animation: 1.5s logoopace normal infinite;
}

.logo1:hover .logo-v-2 {
  opacity: 0;
  animation: 1.5s logoopacv normal infinite;
}

.logo1:hover .logo-v-1 {
  animation-duration: 1.5s;
  animation-direction: normal; 
  animation-iteration-count: infinite;
  animation-name: logoanim2;
  /*transform-origin: 10% 50%;*/
}

.tac {
    text-align: center;
}

.icone-contact {
    height: 30px;
    width: 30px;
}

section {
    margin: 70px auto;
}

.lien-lab {
    cursor: default;
}

.lien, .lien-lab {
    color: #009f0d;
    outline: none;
    text-decoration: none;
}

.lien:hover, .lien-lab:hover {
    color: #fff;
    text-decoration: none;
    background-color: #009f0d;
}

.retour {
    font-size: 2em;
}

.wrapper {
    height: 100%;
    vertical-align: middle;
    margin: 80px auto;
    max-width: 600px;
}

.lab-image {
    display: inline-block;
    opacity: .5;
    transition: opacity .2s;
    width: 23%;
}

.lab-image:hover {
    opacity: 1;
}

.div-form, form, input, textarea {
    display: inline;
    vertical-align: top;
}

.div-form {
    padding: 5px;
    width: 500px;
    display: inline-block;
    overflow: hidden;
    transition: width 1s;
}

.div-form.hidden {
    width: 0;
}

.form-container {
    display: block;
    width: 560px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        display: block;
    }

    section {
        display: inline;
        width: auto;
    }

    .wrapper {
        padding: 1em 2em;
    }
}