@font-face {
  font-family: "fira sans";
  font-display: swap;
  src: url("firasans-italic-webfont.woff") format("woff");
}

body, html {
  height: 100%;
}

body {
  cursor: default;
  font: 1.125em "Calibri", sans-serif;
  margin: auto;
}

header {
  padding-left: 18px;
  padding-top: 155px;
  position: fixed;
}

h1 {
  font-family: "fira sans";
  font-size: 1.4em;
  margin-bottom: .1em;
  min-height: 1.2em;
  text-shadow: 0 0 0 transparent;
}

p {
  line-height: 1.5;
  margin-top: 0;
}

.icone-contact:hover {
  fill: #009f0d;
}

.logo1, .logo-fixe {
  height: 50px;
  width: 220px;
  display: block;
}

.logo-wrapper {
  display: table;
}

.logo-wrapper:hover .logo-fixe, .logo-wrapper:focus .logo-fixe {
  opacity: 0;
}

.logo1 {
  margin-top: -50px;
  opacity: 0;
  will-change: opacity;
}

.logo-wrapper:hover .logo1, .logo-wrapper:focus .logo1 {
  opacity: 1;
}

.logo-v-1 {
  opacity: 0;
  transform-origin: 10px 11px;
}

@keyframes logoanim {
  0% {
    opacity: 1;
    transform: none;
  }
  25% {
    transform: translate(21px) rotate(180deg);
  }
  50% {
    transform: translate(42px,4px) rotate(58deg);
  }
  75% {
    transform: translate(62px,-1px) rotate(94deg);
  }
  100% {
    transform: translate(85px,-1px) rotate(0deg);
    opacity: 1;
  }
}

.logo-v-0 {
  opacity: 0;
}

.logo-a, .logo-l, .logo-e, .logo-v-2 {
  opacity: 0;
  transition: opacity step-end;
}

.logo-wrapper:hover .logo-a, .logo-wrapper:focus .logo-a {
  transition: opacity step-end .375s;
}

.logo-wrapper:hover .logo-l, .logo-wrapper:focus .logo-l {
  transition: opacity step-end .75s;
}

.logo-wrapper:hover .logo-e, .logo-wrapper:focus .logo-e {
  transition: opacity step-end 1.125s;
}

.logo-wrapper:hover .logo-v-2, .logo-wrapper:focus .logo-v-2 {
  transition: opacity step-end 1.5s;
}

.logo-wrapper:hover .logo-v-0, .logo-wrapper:hover .logo-a, .logo-wrapper:hover .logo-l, .logo-wrapper:hover .logo-e, .logo-wrapper:hover .logo-v-2, .logo-wrapper:focus .logo-v-0, .logo-wrapper:focus .logo-a, .logo-wrapper:focus .logo-l, .logo-wrapper:focus .logo-e, .logo-wrapper:focus .logo-v-2 {
  opacity: 1;
}

.logo-wrapper:hover .logo-v-1, .logo-wrapper:focus .logo-v-1 {
  animation-duration: 1.5s;
  animation-name: logoanim;
}

.icone-contact {
  height: 1.5em;
  padding: .5em;
  width: 1.5em;
}

.bloc-text {
  margin-bottom: 2.5em;
}

.lien, .lien-lab {
  color: rgba(22,98,0);
  padding-bottom: .1em;
  text-decoration: none;
}

.lien {
  border-bottom: solid 2px rgba(22,98,0,.25);
  text-decoration: none;
}

.lien-lab {
  cursor: help;
  border-bottom: dashed 2px rgba(22,98,0,.5);
}

.lien-lab:hover, .lien:hover {
  border-bottom-width: 3px;
}

.wrapper {
  margin: auto;
  max-width: 900px;
  padding: 0 1.4em;
}

.wrapper-droit {
  height: 100%;
  margin: 0 0 0 270px;
  padding-top: 10.5em;
}

#iframe-wrapper {
  align-items: center;
  background: rgba(0,0,0,.5);
  cursor: pointer;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#fermer {
  color: #166200;
  cursor: pointer;
  font-size: 2em;
  line-height: 1em;
  padding: 5px;
  position: absolute;
  right: 3px;
  text-shadow: 0 0 20px #fff, 0 0 15px #fff, 0 0 15px #fff;
  top: 0;
}

.demos-clic {
  display: inline-block;
  margin: 0 1.5em 1.5em 0;
}

#demo {
  border: none;
}

.lab-image {
  filter: saturate(0);
  float: left;
  transition: filter .1s, opacity .1s, transform .1s;
  width: 4em;
}

.lab-image-wrapper {
  line-height: 0
}

/*.lab-image-wrapper:hover .lab-image {
  opacity: .5;
}*/

.lab-image:hover {
  filter: saturate(100%);
  opacity: 1 !important;
  transform: scale(1.05) rotate(2deg);
  z-index: 1;
}

/*[class^="lab-image-"] {
  display: table;
  outline: dashed 5px ;
}*/

.hidden {
  display: none;
}

.affiche {
  display: flex;
}

.opacity50 {
  opacity: .2;
}

.champ {
  background: none;
  border: solid 1px;
  font-family: inherit;
  font-size: inherit;
  margin: auto auto 1em;
  padding: .25em .1em;
  width: 100%;
}

button {
  border: none;
  float: right;
  font-family: calibri;
  font-size: 1em;
  margin: auto;
  padding: .25em 1em;
}

textarea {
  font-family: "Calibri", sans-serif;
  height: 4em;
  margin-top: 1em;
  resize: vertical;
}

.tableau {
  display: table;
}

.rangee {
  display: table-row;
  line-height: 1.5;
}

.cellule {
  display: table-cell;
  padding: 0 .5em .5em 0;
}

.cellule-date {
  color: dimgrey;
  white-space: nowrap;
}

.liens-sociaux {
  list-style-type: none;
  padding: 0;
}

.liens-sociaux li {
  display: inline;
}

.liens-sociaux li:hover {
  opacity: .75;
}

@media screen and (max-width: 50em) {

  .cellule {
    display: block;
  }

  .cellule-date {
    padding-bottom: 0;
  }

  .wrapper-droit {
    margin: 0;
    padding-top: 1em;
  }

  header {
    padding: 2em 0 0;
    position: initial;
    text-align: center;
  }

  .logo-wrapper {
    margin: auto;
  }

  .liens-sociaux {
    text-align: center;
  }

}

[class^=filtre] {
  cursor: pointer;
  padding: .5em;
}